@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.title{
    font-weight: normal;
    text-align: center;
    padding: 40px;
}

nav ul {
    list-style-type: none; /* Remove as marcações */
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.content h2 {
    color: #333;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    margin: 10px 0;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #007BFF; 
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3; /* Cor ao passar o mouse */
}
